table td {
	border: solid 2px black;
}
table {
	border-collapse: collapse;
	width: 630px;
	font-size: 16px;
	border-top: solid 2px #aaaaaa;
	margin-top: 15px;
}
body {
	font-family: '돋움';
	color: #444444;
	position: relative;
}
body::before {
	content: "";
	background: url(img/베이비복스.jpeg);
	background-size: 630px;
	background-position: left top;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-repeat: no-repeat;
}
h3 {
	border-left: solid 5px green;
	padding-left: 5px;
	margin: 0;
}
div {
	width: 630px;
	text-align: right;
}
tr {
	height: 60px;
	vertical-align: top;    /* 수직 정렬 */
	font-weight: bold;
}
td {
	width: 70px;
	padding: 5px;
}
#day {
	height: 20px;
	text-align: center;
	font-weight: bold;
}
.red {
	color: red;
}
.blue {
	color: blue;
}